*{
	font-family: 'Raleway', sans-serif;
}
.cool-font{
    font-family: 'Lato', sans-serif;
    font-weight:400;
    font-size: 35px;
}
a.navbar-brand{

	font-size: 40px;
	font-weight: 800;
}
a{
    text-decoration:none;
}
a:link{
    text-decoration:none;
}
.home-icon{
    display: flex;
    width:50px;
    height:50px;
    align-item:center;
    justify-content:center;
    position:fixed;
    right:20px;
    bottom:20px;
}
i.fa-home{
       font-size:25px;
       color:#17a2b8;
       box-shadow: rgba(0, 0, 0, 0.52) 5px 5px 80px 4px;
}
i.fa-home:hover{
    background-color:#17a2b8;
    color: white;
}