.search-box{
    background-color: #5CDB95;
    padding: 10px;
}
.company_clicked{

    cursor:pointer;
}
.list-body{
    margin-top: 50px;
    margin-bottom: 25px;
    width:100%;
}
a.tags{
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    color:white;
    padding: 4px;
    text-align:center;
}
span{
    float:right;
    margin: 5px;
}
h4{
    font-size:30px;
}
a.tags:hover{
    text-decoration: none;
    color: white;
}
.space{
    height:20px;
}
img{
    height : 100px;
    margin-left:10px;
    margin-right:10px;
}
.POC{
    font-size: 16px;
    padding: 4px;
}

/****TABLE***/
.table.sticky th{
    position: sticky;
    top:0;
}
.bi-check2{
    color:#007bff;
    font-size:50px;
}
thead{
    z-index:100;
}
th.company_image{
z-index: -1;
height100px;
width:150px;
}
th.company_name{
z-index: -1;
}
th{
z-index: auto;
}
td div.dropdown {

    z-index: -10;

}
ul.CPOC{
    list-style:none;
    padding: 0;
}
.CPOC-list-bulletin{
    color:#007bff;
}
img.card-img
{
    width: 150px;
}