.search-box{
    background-color: #5CDB95;
    padding: 10px;
}
.company_clicked{

    cursor:pointer;
}
.list-body{
    margin-top: 50px;
    margin-bottom: 25px;
    width:100%;
}
a.tags{
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    color:white;
    padding: 4px;
    text-align:center;
}
span{
    float:right;
    margin: 5px;
}
h4{
    font-size:30px;
}
a.tags:hover{
    text-decoration: none;
    color: white;
}
.space{
    height:20px;
}
img{
    height : 100px;
    margin-left:10px;
    margin-right:10px;
    object-fit: contain;
}
.POC{
    font-size: 16px;
    padding: 4px;
}

/****TABLE***/
.table.sticky th{
    position: sticky;
    top:0;
}
.bi-check2{
    color:#007bff;
    font-size:50px;
}
thead{
    z-index:100;
}
th.company_image{
z-index: -1;
height100px;
width:150px;
}
th.company_name{
z-index: -1;
}
th{
z-index: auto;
}
td div.dropdown {

    z-index: -10;

}
ul.CPOC{
    list-style:none;
    padding: 0;
}
.CPOC-list-bulletin{
    color:#007bff;
    float:left;
}
#search{
    border-radius: 50px;
    width: 360px;
    font-size:1.3rem;
     transition: width 0.3s;
     padding:10px;
}
#search:focus{
    outline: none;
    width:400px;
}
.company-search {
    display:flex;
    flex-direction:row;
    align-items: baseline;
}
.search-box{
        border-radius: 50px;
}
#filtered_companies{
    width: 98%;
    margin:auto;
}


@media (max-width : 479px) {
    body.font-dec{
        font-size: 0.5rem;
    }
    .desktop-view{
        display:none;
    }
    .mobile-view{
        font-size:0.7rem;
        display:flex;
        justify-content:space-between;
        align-items:center;
    }
    button.navbar-toggler{
        border: none;
    }
    .nav-link-hr:hover{
        background-color:#17a2b8;
    }
    .nav-link-company:hover{
        background-color:#28a745;
    }
    .nav-link-logout:hover{
        background-color:#dc3545;
    }
    .bi-check2{
        color: #007bff;
    font-size: 0.5rem;
    }
    #filtered_companies{
    width: 100%;
    margin:auto;
    }
}
@media (min-width : 480px) {
    .desktop-view{
        display:block;
    }
    .mobile-view{
    display:none;
}
}
