$color: #54FE55;
$color2: #1a4f1a;
$glowSize: 10px;
body{
   box-sizing: border-box;
   font-family: 'VT323', monospace;
}
#app{
   padding: 1rem;
   background: black;
   display: flex;
   height: 700px;
   justify-content: center;
   align-items: center;
   color: #54FE55;
   text-shadow: 0px 0px 10px ;
   font-size: 6rem;
   flex-direction: column;
   .txt {
      font-size: 1.8rem;
   }
}
@keyframes blink {
    0%   {opacity: 0}
    49%  {opacity: 0}
    50%  {opacity: 1}
    100% {opacity: 1}
}

.blink {
   animation-name: blink;
    animation-duration: 1s;
   animation-iteration-count: infinite;
}
.black{
    font-family: 'VT323', monospace;
    background:black;
}