{% extends "diary/base.html" %}
{% load static %}

{% block content %}
  <div class="m-5 container d-flex justify-content-center align-items-center">
    <div class="search-box">
    <form method="post">
      {% csrf_token %}
      <input type="text" id="search">
    </form>
    </div>

  <!-- Company-List -->
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>

<div class="container-fluid">
  <table class="table sticky">
    <thead class="thead-dark">
      <tr>
        <th scope="col"></th>
        <th scope="col">Company Name</th>
        <th scope="col">Tags</th>
        <th scope="col">POC</th>
        <th scope="col">Additional POC</th>
        <th scope="col">CPOC</th>
        <th scope="col">Internship</th>
        <th scope="col">Placement</th>
      </tr>
    </thead>
    <tbody>
      <div class="filtered_companies">
        {% include "diary/_filtered_companies.html" %}
      </div>
    </tbody>
  </table>
</div>
{% endblock content %}
