{% extends "diary/base.html" %}
{% load static %}

{# use {% url 'company_create' %} for adding anchor tags #}

{% block content %}
  <form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>

    <div class="form-group m-auto container d-flex justify-content-center">
      <div class="card p-3 mx-6 company_create">
        <h3 class="card-title">Add Company Details</h3>
        <div class="m-2">
          <label>Company Name:</label>
          {{form.name}}
        </div>
        <div class="m-2">
          <label>POC:</label>
          {{form.POC}}
        </div>
        <div class="m-2">
          <label>CPOC:</label>
          {{form.CPOC}}
        </div>
        <div class="m-2">
          <label>Additional POC:</label>
          {{form.additional_POC}}
        </div>
        <div class="m-2">
          <label>Email Address:</label>
          {{form.email}}
        </div>
        <div class="m-2">
          <label>Company Logo:</label>
          {{form.logo}}
        </div>
        <div class="m-2">
          {% if user.last_name == "PLACEMENT" %}
          <label>Placement:</label>
          {{form.placement}}
          {% endif %}
        </div>
        <div class="m-2">
          <label>Intern:</label>
          {{form.internship}}
        </div>
        <div class="m-2">
          <input class="btn btn-success px-5" type="submit" value="Add" id="submit">
        </div>
      </div>
    </div>
  </form>
{% endblock content %}
