{% extends "diary/base.html" %}
{% load static %}

{% block content %}

  <script src="{% static 'diary/js/ajax.js' %}" ></script>
  <div class="mt-5 d-flex justify-content-center flex-column align-items-center">

    <div class="search-box">
    <form class="company-search" method="post">
      {% csrf_token %}
        <input type="text" id="search" placeholder="Search Company"><i class="fa fa-search" aria-hidden="true"></i>
    </form>
    </div>

    <form method="post">
      <label for="intern">Internship:</label>
      <input id="intern" type="checkbox">
      <label for="place">Placement:</label>
      <input id="place" type="checkbox">
      <input id="all" type="button" value="All Companies">
    </form>

  <!-- Company-List -->
<div class="" id="filtered_companies">
  {% include "diary/_filtered_companies.html" %}
</div>
{% endblock content %}
