{% extends "diary/base.html" %}
{% load static %}
{% block dropdown-block %}
{% endblock %}
{% block content %}
<!--  {% if company.logo %}-->
<!--    <img src="{{ company.logo.url }}" alt="Company-logo">-->
<!--  {% else %}-->
<!--    <img src="{% static 'diary/images/default_profile_pic.png' %}">-->
<!--  {% endif %}-->
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="create_hr m-auto p-3 container text-left d-flex  justify-content-center">
   <div class="card p-4 mx-4 ">
  <h1 class="my-4 card-title">{{company.name}}'s new HR:</h1>
  <form method="post">
    {% csrf_token %}
    <div>
      <label>HR's name:</label>
      {{form.name}}
    </div>
    {% if form.name.errors %}{% for error in form.name.errors %}{{error}}{% endfor %}{% endif %}
    <p>You may specify the phonenumber in international format using the international country calling code.</p>
    <p>Note that the default country code is 91 unless specified with the phonenumber explicitly.</p>
    <div>
      <label>Preffered Contact Number:</label>
      {# preffered contact number #}
      {{form.contact_number_1}}
    </div>
    {% if form.contact_number_1.errors %}{% for error in form.contact_number_1.errors %}{{error}}{% endfor %}{% endif %}
    <div>
      <label>Another Contact Number:</label>
      {{form.contact_number_2}}
    </div>
    {% if form.contact_number_2.errors %}{% for error in form.contact_number_1.errors %}{{error}}{% endfor %}{% endif %}
    <div>
      <label>Email Address:</label>
      {{form.email}}
    </div>
    {% if form.email.errors %}{% for error in form.email.errors %}{{error}}{% endfor %}{% endif %}
    <div>
      <label>Linkedin :</label>
      {{form.linkedin_id}}
    </div>
    <div>
      <label>Facebook :</label>
      {{form.facebook_id}}
    </div>
    <div>
    {% if company.placement and user.last_name == "PLACEMENT" %}
      <label>Placement concerned:</label>
        {{form.placement}}
      {% endif %}
    </div>
    <div>
    {% if company.internship %}
      <label>Internship concerned:</label>
      {{form.internship}}
    {% endif %}
      </div>
    <input class="btn btn-success" type="submit" formnovalidate value="Add HR">
  </form>
   </div>
  </div>
{% endblock content %}
