{% extends "diary/base.html" %}
{% block dropdown-block %}
{% endblock %}
  {% block content %}
  <h1 class="text-center m-4">List of HR's of {{company_name}}</h1>
  <div class="table-container">
  <table class="table" >
    <thead class="thead-dark">
    <th scope="col">Name</th>
    <th scope="col">Preferred Contact</th>
    <th scope="col">Alternate Contact</th>
    <th scope="col">Email</th>
    <th scope="col">Linked-In</th>
    <th scope="col">Facebook</th>
    <th scope="col">Assigned Placement</th>
    <th scope="col">Assigned Intern</th>
    </thead>
    <tbody>
      {% for hr in hr_list %}
        <tr scope="row" class="selected-row">
          <td>{{hr.name}}({{hr.company.year}})</td>
          <td><a class="fa fa-item fa-phone bg-warning text-white m-1" href="tel:{{HR.contact_number_1}}"></a></td>
          <td><a class="fa fa-item fa-phone bg-warning text-white m-1" href="tel:{{HR.contact_number_2}}"></a></td>
          <td><a class="fa fa-item fa-paper-plane bg-primary text-white m-1" href="mailto:{{HR.email}}"></a></td>
          <td><a href="{{ HR.linkedin_id }}" target="_blank" class="fa fa-item fa-linkedin text-white m-1"></td>
          <td><a href="{{ HR.facebook_id }}" target="_blank" class="fa fa-item fa-facebook text-white m-1"></a></td>
          {% if hr.placement %} <td>Yes</td> {% else %} <td>No</td> {% endif %}
          {% if hr.internship %} <td>Yes</td> {% else %} <td>No</td> {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
{% endblock content %}
