*{
    margin : 0;
    padding :0;
	font-family: 'Alegreya', serif;
	font-weight: bold;
	color: #000000;
}
.boxed{
    height: 100vh;
    background: url("images/bg.jpg") no-repeat;
    -webkit-background-size: cover;
	background-size: cover;
	background-position : fixed;
}
.column{
    width : 525px;
    height : 350px;
    background: inherit;
    position : absolute;
    overflow:hidden;
    top:50%;
    left: 50%;
    border-radius : 7px;
    transform : translate(-50%,-50%);
}
 .column:before{
    width: 600px;
    height: 400px;
    content : '';
    position : absolute;
    top: -25px;
    left:-25px;
    bottom :0;
    right:0;
    background:inherit;
    box-shadow: inset 0 0 0 500px rgba(180,180,180,0.1);
    filter:blur(10px);
}
.column-text{
    position:absolute;
    top: 50%;
    left:50%;
    transform : translate(-50%, -50%);
    text-align : center;
    width:500px;
}


