{% extends "diary/base.html" %}
{% load static %}

{% block content %}

  {% if user.last_name == "PLACEMENT" %}

    {# company details #}
    {% if company.logo %}
      <img src="{{ company.logo.url }}" class="card-img" alt="Company-logo">
    {% else %}
      <img src="{% static "diary/images/default_profile_pic.png" %}">
   {% endif %}
    {{company.name}}
    {{company.email}}

    {# list of hr's #}
    {% for HR in company_placement_hrs %}
      {% if HR.placement %}
        {{HR.name}}
      {% endif %}
    {% empty %}
      <h2>No Placement hr's assigned yet!</h2>
    {% endfor %}

    {# assigned POC's and CPOC's #}
    {{company.POC}}
    {{company.CPOC}}
    {% if company.additional_POC %}{{company.additional_POC}}{% endif %}

    {# list of remarks #}
    {% for rem in placement_remarks_list %}
      {{rem.remark}}
      {{rem.datetime}}
      {{rem.user}}
    {% empty %}
      <h1>No remark made yet!</h1>
    {% endfor %}

  {% else %}
    {% include "diary/_not_allowed.html" %}
  {% endif %}

{% endblock content %}
